.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}

.component-enter-active, .component-leave-active {
  transition: opacity 3s;
}
.component-enter, .component-leave-to {
  opacity: 0;
}